mFill()
    margin 0
    padding 0
    width 100%
    height 100%

@font-face
    font-family Avenir
    src url(/fonts/AvenirNext.woff)

body
    overflow hidden
    font-family Avenir, Arial, Helvetica, sans-serif
    background-image url("/images/FierySky.jpg")
    background-color black
    no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover

.overlay-element
  background-color #29e
  color white
  font-size 20px
  border-radius 8px
  padding 20px
  margin 30px 20px

  width 100px
  margin 0 0 0 0

  /* This makes things *much* easier */
  box-sizing border-box

.wrapper, .resize-container, html, body
    mFill()

.resize-container
    margin 20px
